<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.autentia.plugin.sendmail"
      version="0.1.0">

    <name>PluginSendMail</name>
    <description>Send Mail Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,mail</keywords>
 
 
    <js-module src="www/sendmail.js" name="SendMail">
        <clobbers target="sendmail" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SendMail">
                <param name="android-package" value="com.autentia.plugin.sendmail.SendMail"/>
            </feature>
        </config-file>
        
        <source-file src="src/android/libs/activation.jar" target-dir="libs" framework="true"/>     
        <source-file src="src/android/libs/additionnal.jar" target-dir="libs" framework="true"/> 
        <source-file src="src/android/libs/httpmime-4.0.jar" target-dir="libs" framework="true"/> 
        <source-file src="src/android/libs/mail.jar" target-dir="libs" framework="true"/> 
        <source-file src="src/android/JSSEProvider.java" target-dir="src/com/autentia/plugin/sendmail" /> 
        <source-file src="src/android/GMailSender.java" target-dir="src/com/autentia/plugin/sendmail" /> 
        <source-file src="src/android/SendMail.java" target-dir="src/com/autentia/plugin/sendmail" />
     </platform>          
</plugin>